@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "WelcomeFancyTitle";
  src: url("Assets/Fonts/YeastyFlavorsRegular-yweyd.ttf");
}

@layer components {
  body {
    @apply bg-offWhite;
  }
  button {
    all: unset;
  }
  button:hover {
    cursor: pointer;
    scale: 1.05;
  }

  button:active {
    scale: 1.05;
  }

  #profilePicSelectorHalo {
    @apply border border-black bg-primaryPurpleLight shadow-lg;
  }
}
